<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.simplelogin.android">

    <application>
        <!--Sentry configuration-->
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://e7ccfb25fd4246a1adac854c8bd020e3@o392631.ingest.sentry.io/5240834"
            tools:node="merge" />
        <meta-data
            android:name="io.sentry.session-tracking.enable"
            android:value="true"
            tools:node="merge" />
        <!--End of Sentry configuration-->
    </application>
</manifest>
