<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.simplelogin.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <category android:name="android.intent.category.BROWSABLE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".module.startup.StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!--windowSoftInputMode="adjustPan" to prevent bottom sheet to move up when keyboard is appeared -->
        <activity
            android:name=".module.home.HomeActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="@string/simplelogin_scheme"
                    android:host="*"
                    android:path="/link"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".module.startup.LocalAuthActivity" />

        <!--
            - exported="true": Needed for responding to external intents
            - launchMode="singleTop": Reuse the same LoginActivity instance when receiving the auth.simplelogin callback
        -->
        <activity android:name=".module.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="@string/simplelogin_scheme"
                    android:host="*"
                    android:path="/login"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".module.login.VerificationActivity" />
        <activity android:name=".module.login.SignUpActivity" />
        <activity android:name=".module.login.AboutActivity" />

        <!--ShareActivity-->
        <activity android:name=".module.share.ShareActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
