<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.simplelogin.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".module.startup.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--windowSoftInputMode="adjustPan" to prevent bottom sheet to move up when keyboard is appeared -->
        <activity
            android:name=".module.home.HomeActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".module.login.LoginActivity" />
        <activity android:name=".module.login.VerificationActivity" />
        <activity android:name=".module.login.SignUpActivity" />
        <activity android:name=".module.login.AboutActivity" />

        <!--ShareActivity-->
        <activity android:name=".module.share.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <!--Facebook SDK-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!--End of Facebook SDK-->
    </application>
</manifest>
